@font-face {
  font-family: "iconfont"; /* Project id 2518882 */
  src: url('iconfont.woff2?t=1620807053976') format('woff2'),
       url('iconfont.woff?t=1620807053976') format('woff'),
       url('iconfont.ttf?t=1620807053976') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e60f";
}

